# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.sentiment_analysis
sentiment_analysis/
.sentiment_analysis/
.sentiment_analysis.*

# Git & DVC internals
.git/
.dvc/
.dvc/cache/

# Local experiments
mlruns/
mlartifacts/

# OS files
.DS_Store
Thumbs.db

# Not needed in container
README.md
.gitignore

# Large raw artifacts (optional if DVC-tracked)
data/raw/
