__pycache__/
*.py[cod]
*.pyo

venv/
.venv/
env/
sent_venv/

.env

mlruns/
mlflow.db
mlartifacts/
data/
bert_models/
*.csv

.ipynb_checkpoints/

.streamlit/

.DS_Store
Thumbs.db

*.ipynb