torch>=2.1.0
transformers==4.39.3
datasets>=2.18.0
sentencepiece
protobuf
pandas>=2.0.0
numpy>=1.23.0
pyarrow
scikit-learn
evaluate
python-dotenv
streamlit
plotly
tqdm
requests
pyyaml>=5.1
praw 
prawcore
fastopic
topmost